/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&family=Red+Hat+Text:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Sarala:wght@400;700&display=swap');

/*  COLORS 
Yellow : #FDFF8B 
BLack/Grey : #262525
White: #FFFFFF
 */


/* 
 Fonts
 Montserrat : font-family: 'Montserrat', sans-serif;
 Red Hat Text : font-family: 'Red Hat Text', sans-serif;
 Sarala : font-family: 'Sarala', sans-serif;
 */

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background: #262525;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.flex {
    display: flex;
}

main {
    width: 80%;
    height: 85vh;
    background: #FDFF8B;
    display: flex;
    box-shadow: 8px 6px 18px rgba(0, 0, 0, 0.74);
}

main section {
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


/* PARTIE GAUCHE */

.container {
    width: 90%;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    text-align: center;
    font-weight: bolder;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.container p {
    width: 75%;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 12px;
}

.container form {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    width: 75%;
    gap: 10px;
}

.container form input {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    width: 100%;
    height: 45px;
    padding-left: 10px;
}

.container form div {
    width: 100%;
    height: 40px;
    justify-content: center;
    gap: 10px;
}

.container button {
    width: 140px;
    border: none;
    background: #262525;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.4s;
}

.container button:hover {
    background: #FDFF8B;
    color: #262525;
    border: #262525 solid 2px;
}


/* 
    PARTIE DROITE
*/

.the-list {
    background: #FFFFFF;
    width: 65%;
    height: 85%;
    box-shadow: 2px 4px 9px rgba(0, 0, 0, 0.46);
}

.filters {
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: space-around;
}

.filters button {
    width: 20%;
    height: 35px;
    background: #FFFFFF;
    border: #262525 2px solid;
}

.task-box {
    width: 100%;
    height: 85%;
}

@media (max-width: 768px) {
    .responsive-container {
        flex-direction: column;
        align-items: center;
    }
    .flex-container {
        width: 350px;
    }
    .flex h1 {
        font-size: 40px;
    }
    .flex p {
        text-align: center;
    }
    .flex-container-2 {
        width: 22rem;
    }
    .the-list {
        height: 17rem;
    }
    main {
        height: 100%;
    }
    .filters {
        padding-top: 2rem;
    }
}